In [ ]:
print("Hello World!")

In [ ]:
#Data/Variable(กำหนดค่าตัวแปร)
name= "วรากร รัตนโสภา" #str   => ตัวอักษร,ชื่อ,ข้อความต่างๆ โดยใน() จะมี ' " """
a=10                 #int   => ตัวเลขที่เป็นจำนวนเต็ม
b=9.99               #float => ตัวเลขที่เป็นจำนวนจุดทศนิยม
#type เป็นฟังก์ชั่นในการตรวจสอบตัวแปรว่าตรงกับชนิดข้อมูลใดในภาษาไพธอน
print(name)
print(type(name))
print(a)
print(type(a)) 
print(b)
print(type(b))

In [1]:
#กรณีอยากตรวจสอบว่าตัวแปร name มีชนิดข้อมูลที่เป็น str จริงหรือไม่ ให้ใช้ฟังก์ชั่น print(type(name) == str)
name="ize"
print(type(name) == str)

True

In [1]:
#กรณีอยากตรวจสอบว่าตัวแปร a มีชนิดข้อมูลทีเป็น int จริงหรือไม่ ให้ใช้ฟังก์ชั่น print(type(name) == int)
a=10
print(type(a) == int)

True

In [ ]:
#กรณีอยากตรวจสอบว่าตัวแปร b มีชนิดข้อมูลทีเป็น float จริงหรือไม่ ให้ใช้ฟังก์ชั่น print(type(name) == float)
b=9.99
print(type(b) ==float)

In [2]:
print('''Hello
Hello ize 
Hello python''')

Hello
Hello ize
Hello python

In [2]:
print("""สวัสดี
สวัสดี วรากร
สวัสดี Python""")

สวัสดี
สวัสดี วรากร
สวัสดี Python

In [3]:
print("it's me") #ถ้าเราต้องพิมพ์สายอักขระที่มีเครื่องหมาย quote ให้ใช้ Double quote ในการบอกขอบเขต

it's me

In [4]:
print('it\'s me') #ถ้าเรายังต้องการพิมพ์สายอักขระที่มีเครื่องหมาย quote อยู่อีก จะต้องเติม \ เพื่อบอกกับโปรแกรมว่าสิ่งนี้คือข้อความไม่ใช่ตัวบอกขอบเขต

it's me

In [5]:
print('he said "Python is my life."')

he said "Python is my life."

In [6]:
print("he said \"Python is my life.\"")

he said "Python is my life."

In [7]:
print("he said \"\\Python is my life.\\\"")

he said "\Python is my life.\"

In [8]:
print("\\")

\

In [9]:
print(1)

1

In [10]:
print(1.5)

1.5

In [11]:
print(3.50)

3.5

In [12]:
print('%d' %3) # %d int เลขจำนวนเต็ม

3

In [15]:
print('%f' %10) # %f float เบื้องต้นจะพิมพ์ทศนิยมมาให้ก่อน 6 ตำแหน่ง แต่สามารถปรับทศนิยมเองได้

10.000000

In [13]:
print('%s' %1.0) # %s พิมพ์ได้ทุกอย่างที่เรากำหนดลงไป

1.0

In [3]:
print('%s' %100.00)

100.0

In [14]:
print('%d %.2f %s' %(2, 5, 7.99))

2 5.00 7.99

In [16]:
print('%s %.5f %d' %(199.9, 5, 500))

199.9 5.00000 500

In [17]:
print('I love you',3000)

I love you 3000

In [18]:
print('10 + 10 =' , 10 + 10)

10 + 10 = 20

In [20]:
print('I love you '+str(3000))

I love you 3000

In [19]:
print('10 + 10 =' + str(10+10))

10 + 10 =20

In [21]:
print('I love you %d'%3000)

I love you 3000

In [ ]:
print('5 + 7 = %d'%(5+7))

In [ ]:
print('I am %d year old'%27)

In [ ]:
print('I from %s'%('Thailand'))

In [ ]:
print('My Telephonenumber is %s'%('0939564300'))

In [ ]:
print('I like playing game %d'%10)

In [ ]:
car = ["honda", "toyota", "isuzu"]
x, y, z = car
print(x)
print(y)
print(z)

In [ ]:
x = "Hello"
y = "is a"
z = "Python!!"
print(x,y,z)

In [4]:
x = "Warakron"

def myfunc():
    print("นี้คือชื่อของผม: "+x)
myfunc()

นี้คือชื่อของผม: Warakron

In [ ]:
x = "Warakron"

def myfunc():
  x = "ice"
  print("Python is " + x) #variable inside a function, with the same name as the global variable

myfunc()

print("Python is " + x)

In [ ]:
def myfunc():
    global a
    a = "xbox"
myfunc()
print("This is a "+ a)

In [ ]:
#หากต้องการเปลี่ยนค่าของตัวแปรร่วมภายในฟังก์ชัน ให้อ้างอิงถึงตัวแปรโดยใช้คีย์เวิร์ดสากล
b = "car"
def myfunc():
    global b
    b = "bike"
myfunc()
print(b)

In [ ]:
x = range(999)
print(x)

In [ ]:
z = -3255522
print(type(z))

In [ ]:
x = 3+5j
y = 5j
z = -5j
print(x)
print(z)

In [ ]:
#Casting
z = complex(1)
print(z)

In [ ]:
a = 1
print(float(a))

In [ ]:
y = str(9.99)
print(y)

In [ ]:
#random ในชุดนี้ จะทำการเรียกใช้ Module เพื่อเป็นการสุ่มตัวเลข
import random

print(random.randrange(1,999)) #จากตัวอย่างได้ทำการสุ่มตัวเลขมาหนึ่งตัวภายในตัวเลข 1-999

In [ ]:
a = "Warakron-Ratanasopa"
print(len(a))

In [ ]:
for a in "ice":
  print(a)

In [ ]:
a=2
b=1
c=a-b
if a>b:
    print("ของแทร่")
elif a<b:
    print("เก่งเหมือนกันน่ะเนี่ย!!")
if c>a:
    print("เก่งเกิ้น!!")
elif c<a:
    print("มั่วแล้ว!!")

In [ ]:
for a in range(0,5,+1):
    print(a)

In [ ]:
age = int(input("ป้อนข้อมูลอายุของคุณดูสิ!:"))#การรับค้าจากผู้ใช้งานโดยใช้ ฟังก์ชั่น input()
print("คุณมีอายุ:"+str(age)+" ปี ครับ")

In [ ]:
name = input('ใส่ชื่อของคุณเพื่อทำการลงทะเบียน:')
age = int(input('แล้วคุณมีอายุเท่าไหร่ครับ:'))
address = input('คุณอาศัยอยู่จังหวัดอะไรครับ:')
print('สวัสดีครับคุณ:'+(name)+' คุณมีอายุ '+str(age)+' ปี'+' คุณเป็นคนจังหวัด:'+(address))

In [ ]:
price = float(input('ราคาสินค้า:'))#ตัวอย่างการคำนวนภาษี
vat = (7/100)*price
print('ราคาสินค้าก่อนรวม VAT:','{:,.2f}'.format(price),'บาท')
print('VAT : ','{:,.2f}'.format(vat),'บาท')
print('ราคาสินค้ารวม Vat = ',float(price+vat),'บาท')

In [ ]:
price = float(input('ราคาสินค้า: '))
vat_rate = 7 / 100

# คำนวณราคาสินค้าก่อนรวม VAT
price_before_vat = price / (1 + vat_rate)

# คำนวณ VAT
vat = price - price_before_vat

print('ราคาสินค้าก่อนรวม VAT: {:,.2f} บาท'.format(price_before_vat))
print('VAT: {:,.2f} บาท'.format(vat))
print('ราคาสินค้ารวม VAT: {:,.2f} บาท'.format(price))

In [ ]:
name = 'Warakron Ratanasopa'
age = 27
myname = 'My name is {} I am {} Years old.'
print(myname.format(name,age))

name = 'Warakron Ratanasopa'
age = 27
myname = 'My name is {0} I am {1} Years old.'
print(myname.format(name,age))

In [ ]:
#List
thislist = ['apple','banana','cherry']
print(thislist)

name = ['ice','sai','P\'peth']
print(len(name))

list1 = ['apple','banana','cherry']
list2 = [1,2,3,4,5,6,7,8,9,0]
list3 = [True,False,False]
print(list1)
print(list2)
print(list3)

thislist = list(("apple", "banana", "cherry")) #Using the list() constructor to make a List:
print(thislist)

In [1]:
thislist = ["apple", "orenge", "cherry"]
if 'banana' in thislist:
    print("Yes, 'banana' is in the fruits list") #Check if Item Exists
else:
    print("No!")

No!

In [ ]:
#Change Item Value เปลี่ยน str ที่อยู่ใน list
Mylist = ["apple","banana","cherry"]
Mylist[2]= "mango"
print(Mylist)

In [ ]:
#Insert Items แทรกเพิ่มเข้าไปโดยระบุตำแหน่ง
name = ["ice", "sai", "P'peth"]
name.insert(1, "Not") #ตัวอย่างcodeนี้ ระบุตำแหน่งที่ 1 
print(name)

In [ ]:
#Append Items เติมต่อท้ายสุดใน list
car = ["Toyota", "Nissan", "Honda"]

car.append("Ford") #ให้ "ford" ไปต่อท้ายสุดของ list

print(car)

In [ ]:
#Extend List จับ list มารวมกัน
car = ["van", "Truck", "Motorcycle"]
Brands = ["Toyota", "Nissan", "Honda"]

car.extend(Brands)

print(car)

In [ ]:
#Remove Specified Item
cpu = ['intel','amd','snapdragon']
cpu.remove('snapdragon')
print(cpu)

In [ ]:
#Remove Specified Index
cpu = ['intel','amd','snapdragon']
cpu.pop(0)
print(cpu)

In [ ]:
#The del keyword also removes the specified index:
cpu = ['intel','amd','snapdragon']
del cpu[2]
print(cpu)

In [ ]:
#Clear the List
cpu = ['core i5','Ryzen 3','Snap888']
cpu.clear() #The clear() method empties the list.The list still remains, but it has no content.
print(cpu)

In [ ]:
#Python - Loop Lists
#แทนที่ thislist โดย a ให้ For loop thislist ออกมา
thislist = ['asus','hp','acer']
for a in thislist:
    print(a)

In [ ]:
# for loop แบบสั้น
thislist = ['asus','hp','acer']
[print(b) for b in thislist]

In [ ]:
def calculate_length(text):
    return len(text)

input_text = input("ป้อนข้อความ: ")
length = calculate_length(input_text)
print("ความยาวของข้อความ:", length, "ตัวอักษร")

In [5]:
num = int(input("ป้อนตัวเลขที่ต้องการแสดงตารางคูณ: "))

print("ตารางคูณของเลข {} :".format(num))
for i in range(1, 13):
    print("{} x {} = {}".format(num, i, num*i))

ตารางคูณของเลข 5 :
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60