In [2]:
name = 'วรากร รัตนโสภา'
print(name)
print(type(name)==str)

วรากร รัตนโสภา
True

In [4]:
ProductPrice = 299.50
print(ProductPrice)
print(type(ProductPrice)==float)

299.5
True

In [5]:
print('%d' %5)

5

In [3]:
price = float(input("ระบุราคาสินค้า"))
vat_rate = 7/100
price_before_vat = price/(1+vat_rate)
vat = price - price_before_vat
print("ราคาสินค้าก่อนรวม VAT: {:,.2f} บาท".format(price_before_vat))
print("VAT: {:,.2f} บาท".format(vat))
print("ราคาสินค้ารวม VAT: {:,.2f} บาท ".format(price))

ราคาสินค้าก่อนรวม VAT: 1,859.81 บาท
VAT: 130.19 บาท
ราคาสินค้ารวม VAT: 1,990.00 บาท

In [33]:
def myfunc():
    x = "banana"
    print("ใช่แล้วมันคือ "+x)
myfunc()

ใช่แล้วมันคือ banana

In [35]:
import random
print(random.randrange(1,999))

977

In [39]:
for a in "Python":
    print(a)

x = "Python is good"
print(len(x))

P
y
t
h
o
n
14

Use pandas python library

In [ ]:
import pandas as pd

In [6]:
import pandas as pd
list = [[1,"banana",10,500],[2,"apple",40,350],[3,"mango",3,90]]
df = pd.DataFrame(list,columns=["ID","List","Kg.","Price"])
print(df)

   ID    List  Kg.  Price
0   1  banana   10    500
1   2   apple   40    350
2   3   mango    3     90

In [7]:
df["List"]

0    banana
1     apple
2     mango
Name: List, dtype: object

In [8]:
df[["List","Price"]]

     List  Price
0  banana    500
1   apple    350
2   mango     90

In [11]:
df["pay"] = df["Kg."]*df["Price"]
df

   ID    List  Kg.  Price    pay
0   1  banana   10    500   5000
1   2   apple   40    350  14000
2   3   mango    3     90    270

In [12]:
df.drop("pay",axis=1,inplace=True)
df

   ID    List  Kg.  Price
0   1  banana   10    500
1   2   apple   40    350
2   3   mango    3     90

In [13]:
df.loc[1]

ID           2
List     apple
Kg.         40
Price      350
Name: 1, dtype: object

In [14]:
df.loc[0,"List"]

'banana'

In [18]:
df.loc[[0,2],["List","Kg."]]

     List  Kg.
0  banana   10
2   mango    3

In [21]:
df[df["Price"]>=100]

   ID    List  Kg.  Price
0   1  banana   10    500
1   2   apple   40    350

In [23]:
df[(df["Price"]>=100)&(df["Kg."]>=10)]

   ID    List  Kg.  Price
0   1  banana   10    500
1   2   apple   40    350

In [24]:
df["pay"] = df["Kg."]*df["Price"]
df

   ID    List  Kg.  Price    pay
0   1  banana   10    500   5000
1   2   apple   40    350  14000
2   3   mango    3     90    270

ติดตั้งแผนภูมิ

In [25]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.8.4-cp312-cp312-win_amd64.whl.metadata (5.9 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.51.0-cp312-cp312-win_amd64.whl.metadata (162 kB)
     ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
     -------------------------- ----------- 112.6/162.8 kB 3.3 MB/s eta 0:00:01
     -------------------------------------- 162.8/162.8 kB 3.2 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy>=1.21 in c:\users\nongb\onedrive\เอกสาร\dev ize\.venv\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nongb\onedrive\เอกสาร\dev ize\.venv\lib\site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl.metadata (9.4 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nongb\onedrive\เอกสาร\dev ize\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\nongb\onedrive\เอกสาร\dev ize\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.8.4-cp312-cp312-win_amd64.whl (7.7 MB)
   ---------------------------------------- 0.0/7.7 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.7 MB 5.2 MB/s eta 0:00:02
   --- ------------------------------------ 0.6/7.7 MB 8.1 MB/s eta 0:00:01
   ----- ---------------------------------- 1.1/7.7 MB 8.7 MB/s eta 0:00:01
   -------- ------------------------------- 1.6/7.7 MB 9.2 MB/s eta 0:00:01
   ----------- ---------------------------- 2.2/7.7 MB 9.4 MB/s eta 0:00:01
   --------------- ------------------------ 2.9/7.7 MB 10.3 MB/s eta 0:00:01
   ------------------- -------------------- 3.7/7.7 MB 11.3 MB/s eta 0:00:01
   ------------------------ --------------- 4.7/7.7 MB 12.5 MB/s eta 0:00:01
   ----------------------------- ---------- 5.7/7.7 MB 13.6 MB/s eta 0:00:01
   ------------------------------------ --- 7.0/7.7 MB 14.8 MB/s eta 0:00:01
   ---------------------------------------  7.7/7.7 MB 15.8 MB/s eta 0:00:01
   ---------------------------------------- 7.7/7.7 MB 14.4 MB/s eta 0:00:00
Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl (189 kB)
   ---------------------------------------- 0.0/189.9 kB ? eta -:--:--
   ---------------------------------------- 189.9/189.9 kB ? eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.51.0-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------------------------- ------------- 1.4/2.2 MB 45.9 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 34.9 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.0 kB ? eta -:--:--
   ---------------------------------------- 56.0/56.0 kB ? eta 0:00:00
Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl (2.5 MB)
   ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
   ------------------------- -------------- 1.6/2.5 MB 52.5 MB/s eta 0:00:01
   ---------------------------------------- 2.5/2.5 MB 32.3 MB/s eta 0:00:00
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.2 kB ? eta -:--:--
   ---------------------------------------- 103.2/103.2 kB ? eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.51.0 kiwisolver-1.4.5 matplotlib-3.8.4 pillow-10.3.0 pyparsing-3.1.2

Could not find platform independent libraries <prefix>

In [28]:
df["pay"].plot.line

In [38]:
import pandas as pd
menu = [[1,"banana"],[2,"mango"],[3,"apple"],[4,"lemon"]]
df = pd.DataFrame(menu,columns=["list","Menu_name"])
print(df)

   list Menu_name
0     1    banana
1     2     mango
2     3     apple
3     4     lemon